<!-- ### -->

<script type="text/javascript" src="/hpp/js/validation.js"></script>
<script type="text/javascript" src="/hpp/js/animatedcollapse.js"></script>
<script type="text/javascript" src="/hpp/js/cc.js"></script>

<h2 id="stageheader">Please Enter your Payment Details</h2>

<div id="orderDataWrapper">
  <div id="orderDataHeader">Order Details</div>
  <div id="orderData">
    <%= render_file "order_data" %>
  </div>
</div>
<div id="displayAmount">
  Total payment amount EUR 4.99 <span id="extraCostAmount"></span>
</div>

<ul id="paymentMethods">
  <li style="list-style-type: none;">
    <input type="submit" name="brandName" value="Credit Card" class="imgB pmB pmBcard" onclick="return show(collapsecard, 'completeCard.shtml', 'card', 'brandCodeUndef');" />
    <span id="pmmextracosts-card" class="pmmextracosts"></span>
    <span id="pmcarddescription" class="pmmdescription"></span>

    <div id="pmmdetails-card" class="pmmdetails">
      <script type="text/javascript" src="/hpp/js/card.js"></script>

      <table class="basetable">
        <!-- Card Type & Logo -->
        <tr id="card.cclogoTr" >
          <td class="mid">
            <div id="card.cclogoheader" style="display: none">Card Type</div>
          </td>
          <td class="mid">
            <div style="height: 25px"  id="card.cclogo" >
              <img alt=""  id="card.cclogo0"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo1"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo2"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo3"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo4"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo5"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo6"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo7"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <img alt=""  id="card.cclogo8"  style="display: none" class="mid" src="/hpp/img/pm/unknown_small.png" />
              <script type="text/javascript">
                card_setCardBrand(null, false, 'card', card_types, card_logos);
              </script>
            </div>
          </td>
        </tr>

        <!-- Card Number -->
        <tr id="card.cardNumberTr" >
          <td class="cardNumberTitle"><div>Card Number</div></td>
          <td>
            <div class="fieldDiv">
              <input type="text" class="inputField" id="card.cardNumber"
              onkeypress="return blockNonNumberEvents(event)"
              onkeyup="card_validateCcNumber(event, 'card', card_types, card_logos, card_subVariantExtras, card_subVariantExtrasPhrase)"
              onchange="card_validateCcNumber(event, 'card', card_types, card_logos, card_subVariantExtras, card_subVariantExtrasPhrase) ; card_doCCCheck('card')"
              name="card.cardNumber" value="" size="24" maxlength="23" />
            </div>
          </td>
        </tr>

        <!-- Card Holder's Name -->
        <tr>
          <td><div>Card Holder Name</div></td>
          <td>
            <div class="fieldDiv">
              <input type="text" class="inputField"  id="card.cardHolderName"   name="card.cardHolderName"  value="" size="19" maxlength="30" />
            </div>
          </td>
        </tr>

        <!-- Card Expiry -->
        <tr>
          <td><div>Card Expiry Date</div></td>
          <td>
            <div class="fieldDiv"  id="card.expiryContainer">
              <select class="inputField" name="card.expiryMonth" id="card.expiryMonth" size="1">
                <option value="">&nbsp;</option>
                <option  value="01">01</option>
                <option  value="02">02</option>
                <option  value="03">03</option>
                <option  value="04">04</option>
                <option  value="05">05</option>
                <option  value="06">06</option>
                <option  value="07">07</option>
                <option  value="08">08</option>
                <option  value="09">09</option>
                <option  value="10">10</option>
                <option  value="11">11</option>
                <option  value="12">12</option>
              </select>
              &nbsp;/&nbsp;
              <select class="inputField" name="card.expiryYear" id="card.expiryYear" size="1">
                <option value="">&nbsp;</option>
                <option  value="2013">2013</option>
                <option  value="2014">2014</option>
                <option  value="2015">2015</option>
                <option  value="2016">2016</option>
                <option  value="2017">2017</option>
                <option  value="2018">2018</option>
                <option  value="2019">2019</option>
                <option  value="2020">2020</option>
                <option  value="2021">2021</option>
                <option  value="2022">2022</option>
                <option  value="2023">2023</option>
                <option  value="2024">2024</option>
                <option  value="2025">2025</option>
                <option  value="2026">2026</option>
                <option  value="2027">2027</option>
              </select>
            </div>
          </td>
        </tr>

        <!-- CVC -->
        <tr>
          <td>
            <!-- brandCodeUndef -->
            <div id="card.cvcName">CVC/CVV/CID <i></i></div>
          </td>
          <td>
            <div class="fieldDiv">
              <input class="inputField" type="text"  name="card.cvcCode"  value=""  id="card.cvcCode"  size="7" maxlength="3" /> &nbsp;
              <a href="#" onclick="return toggleElement( 'card.cvcFrame' );">
                <span id="card.cvcWhatIs">What is CVC/CVV/CID?</span>
              </a>
            </div>
          </td>
        </tr>

        <!-- Submit button -->
        <tr>
          <td colspan="2">
            <div class="r">
              <input class="paySubmit paySubmitcard" type="submit" name="pay" value="pay" />
            </div>
          </td>
        </tr>
      </table>

      <div class="popupMsg  popupMsgOPP" style="display: none;" onclick="return hideElement( 'card.cvcFrame' );" id="card.cvcFrame" >
        <h3>What is CVC/CVV/CID?</h3>
        <p>The Card Security Code (CVC/CVV/CID) is an <i>additional</i>
              three or four digit security code that is printed (not embossed) on the front or the back
            of your card.</p>
        <p>The CVC/CVV/CID is an extra security measure to ensure that you are in possession of the card.</p>
        <p></p>
      </div>

      <script type="text/javascript">
        if(document.getElementById( "card.cardNumber" ).value.length > 0) {
          var validateCcNumberTimer = setTimeout(function() {
            card_validateCcNumber(null, 'card', card_types, card_logos, card_subVariantExtras, card_subVariantExtrasPhrase, true)
          }, 2500);
        }
      </script>
    </div>
  </li>
</ul>

<div id="errorFrame" style="display: none;" class="popupMsg errorFrame">
  <div id="errorFrameValidationErrors"></div>
</div>
<div id="okFrame" style="display: none;" class="popupMsg okFrame">
  <div id="okFrameMessages"></div>
</div>

<input type="text" style="display: none" />
<input type="hidden" name="allowedMethods" value="visa" />
<input type="hidden" name="brandCode" value="brandCodeUndef" />
<input type="hidden" name="currencyCode" value="EUR" />
<input type="hidden" name="displayGroup" value="" />
<input type="hidden" name="merchantAccount" value="Wunderlistshop" />
<input type="hidden" name="merchantReference" value="subscription_1_web_production_20130320:4.49EUR" />
<input type="hidden" name="merchantReturnData" value="{&quot;env&quot;:&quot;development&quot;,&quot;source&quot;:&quot;web&quot;,&quot;user_id&quot;:&quot;AA77AAAAAGA&quot;}" />
<input type="hidden" name="originalSession" value="" />
<input type="hidden" name="paymentAmount" value="499" />
<input type="hidden" name="recurringContract" value="RECURRING" />
<input type="hidden" name="referrerURL" value="" />
<input type="hidden" name="sessionId" value="" />
<input type="hidden" name="sessionValidity" value="2014-03-26T20:25:34Z" />
<input type="hidden" name="shipBeforeDate" value="2014-03-26" />
<input type="hidden" name="shopperEmail" value="test@example.com" />
<input type="hidden" name="shopperLocale" value="en_US" />
<input type="hidden" name="shopperReference" value="AA77AAAAAGA" />
<input type="hidden" name="sig" value="" />
<input type="hidden" name="skinCode" value="mOTHo5Aq" />
<input type="hidden" name="stage" value="pay" />
<!-- ### inc/pmfooter -->
